html {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 64px;
    top: 0;
    left: 0;
    width: 100%;
}

header .logo {
    display: inline-flex;
    align-items: center;
    margin-left: 24px;
    flex: 0 0 180px;
}

header .logo img {
    height: 32px;
    width: auto;
}

header .logo p {
    text-transform: uppercase;
}

header .mobile {
    display: none;
}

header .desktop {
    justify-content: flex-end;
    flex: 1 1 10px;
    display: inline-flex;
    margin-right: 24px;
}

header .desktop p {
    padding-left: 16px;
}

@media only screen and (max-width: 600px) {
    header .desktop {
        display: none;
    }

    header .logo {
        display: none;
    }
}