/* Universal Styles */

html {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin-left: 0;
    width: 100%;
}

/* Header */

header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 64px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #FFF;
}

header .logo {
    display: inline-flex;
    align-items: center;
    margin-left: 24px;
    flex: 0 0 180px;
}

header .logo img {
    height: 32px;
    width: auto;
}

header .logo p {
    text-transform: uppercase;
}

header .mobile {
    display: none;
}

header .desktop {
    justify-content: flex-end;
    flex: 1 1 10px;
    display: inline-flex;
    margin-right: 24px;
}

header .desktop p {
    padding-left: 16px;
}

@media only screen and (max-width: 600px) {
    header .desktop {
        display: none;
    }

    header .logo {
        display: none;
    }

    header .mobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

/* Start */

#start {
    position: relative;
    left: 0;
    margin-top: 64px;
    width: 100%;
    background-color: #DDD;
    display: flex;
    align-items: center;
}

#start .image-container {
    padding: 32px 24px;
    flex: 0 0 60%;
}

#start .image-container img {
    max-width: 100%;
}

#start .text-container {
    padding-right: 16px;
    padding-bottom: 50px;
}

#start .text-container h1 {
    margin-top: 32px;
    margin-bottom: 32px;
}

#start .text-container p {
    margin-bottom: 24px;
}

#start .text-container button {
    width: 100%;
    border-radius: 0;
    background-color: #444;
    border-width: 0px;
    color: #FFF;
}

#start .text-container button p {
    margin: 8px 0;
}

@media only screen and (max-width: 600px) {
    #start {
        flex-wrap: wrap;
        justify-content: center;
    }

    #start .text-container {
        padding-left: 16px;
        padding-bottom: 32px;
    }

    #start .image-container {
        padding: 0;
        flex-basis: 100%;
    }
}

/* Featured */

#featured {
    display: flex;
}

#featured .mobile {
    display: none;
}

#featured .large-container {
    margin: 0 24px;
    flex: 0 0 60%;
}

#featured .large-container .image-container {
    width: 100%;
    margin: 32px 0;
}

#featured .small-containers {
    max-width: 40%;
    padding-top: 16px;
    border: 1px solid #DDD;
}

#featured .small-container {
    display: flex;
    border: 1px solid #DDD;
}

#featured .small-container.shaded {
    background-color: #DDD;
}

#featured .small-container .image-container {
    height: auto;
    flex: 0 0 35%;
    padding: 16px;
}


#featured .image-container img {
    max-width: 100%;
}

#featured .large-container h2 {
    margin-top: 0;
    margin-bottom: 24px;
}

#featured .large-container p {
    margin-top: 0;
    margin-bottom: 6%;
}

#featured .small-container .text-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3%;
}

#featured .small-container .text-container h3 {
    margin-top: 0;
    margin-bottom: 0;
}

#featured .small-container .text-container p {
    margin-top: 8px;
    margin-bottom: 8px;
}

#featured .small-container .text-container a {
    color: #1AE
}

@media only screen and (max-width: 600px) {
    #featured .desktop {
        display: none;
    }

    #featured .mobile {
        display: inherit;
    }

    #featured .small-containers {
        max-width: 100%;
        width: 100%;
    }

    #featured .small-container {
        flex-wrap: wrap;
        border-width: 0;
        margin-bottom: 48px;
    }

    #featured .small-container.shaded {
        margin-bottom: 32px;
        background-color: #FFF;
    }

    #featured .small-container .image-container {
        flex-basis: auto;
        max-width: fit-content;
    }

    #featured .small-container .text-container {
        margin-left: 32px;
    }
}

/* Courses */

#courses {
    background-color: #DDD
}

#courses h2 {
    text-align: center;
    margin: 0;
    padding: 32px;
}


#courses .image-container img {
    max-width: 100%;
}

#courses .row-1, #courses .row-2 {
    display: flex;
    padding: 0 72px 32px;
}

#courses .container {
    width: 33%;
    background-color: #FFF;
}

#courses .container.middle {
    margin: 0 32px;
}

#courses h3 {
    margin: 0;
    padding: 16px 16px 8px;
}

#courses .text-container{
    padding: 0 16px 8px;
}

#courses .text-container p {
    margin: 0;
    padding-bottom: 8px;
}

@media only screen and (max-width: 600px) {
    #courses {
        background-color: #FFF;
        border: 1px solid #DDD;
    }
    
    #courses .desktop {
        display: none;
    }

    #courses .row-1, #courses .row-2 {
        flex-wrap: wrap;
        padding: 0 16px 0;
    }

    #courses .row-2 {
        padding-bottom: 24px;
    }

    #courses .container {
        width: 100%;
        flex-shrink: 0;
        background-color: #DDD;
        margin-bottom: 8px;
    }

    #courses .container.middle {
        margin: 0 0 8px;
    }

    #courses h3 {
        padding: 16px 16px 24px;
    }

    #courses h2 {
        padding-bottom: 16px;
    }
}

/* Thesis */

#thesis .exhibits {
    display: flex;
}

#thesis .mobile {
    display: none;
}

#thesis h2 {
    text-align: center;
    margin: 0;
    padding: 32px;
}

#thesis .large-container {
    margin: 0 24px;
    flex: 0 0 60%;
}

#thesis .large-container .image-container {
    width: 100%;
    margin: 32px 0;
}

#thesis .small-containers {
    max-width: 40%;
    padding-top: 16px;
    padding-right: 10px;
}

#thesis .small-container {
    display: flex;
}

#thesis .small-container.shaded {
    background-color: #DDD;
}

#thesis .small-container .image-container {
    height: auto;
    flex: 0 0 35%;
    padding: 16px;
}

#thesis video {
    max-width: 100%;
}

#thesis .image-container img {
    max-width: 100%;
}

#thesis .large-container h2 {
    margin-top: 0;
    margin-bottom: 24px;
}

#thesis .large-container p {
    margin-top: 0;
    margin-bottom: 6%;
}

#thesis .small-container .text-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3%;
}

#thesis .small-container .text-container h3 {
    margin-top: 0;
    margin-bottom: 0;
}

#thesis .small-container .text-container p {
    margin-top: 8px;
    margin-bottom: 8px;
}

#thesis .small-container .text-container a {
    color: #1AE
}

@media only screen and (max-width: 600px) {
    #thesis .desktop {
        display: none;
    }
    #thesis .mobile {
        display: block;
    }

    #thesis .large-container {
        flex-basis: 100%;
        margin: 0;
    }

    #thesis h2 {
        padding-bottom: 16px;
    }
}